.section {
    background-color: #d7d7d7;
    padding: 50px;
}

nav {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
}

.navbar-custom {
    background-color: #1db954 !important;
}

/* do not center the text within each page */
.pp-tableCell {
    vertical-align: baseline;
}